{%  extends  'base.html' %}

{% block content %}



<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page">Our Store</h2>
        
    </div> <!-- container //  -->
    </section>
    <!-- ========================= SECTION INTRO END// ========================= -->
    
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y">
    <div class="container">
    
    <div class="row">
        <aside class="col-md-3">
            
    <div class="card">
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title" >Categories</h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1" style="">
                <div class="card-body">
                    
                 
                    <ul class="list-menu">
                        {%  for cat in categories %}
                    <li><a href="{% url 'cat' slug=cat.slug %}">{{cat.category_name}} </a></li>
                    {% endfor %}
                    
                    </ul>
    
                </div> <!-- card-body.// -->
            </div>
        </article> <!-- filter-group  .// -->
        
             
        
       
    </div> <!-- card.// -->
    
        </aside> <!-- col.// -->
        <main class="col-md-9">
    
    <header class="border-bottom mb-4 pb-3">
            <div class="form-inline">
                <span class="mr-md-auto">Items found </span>
                
            </div>
    </header><!-- sect-heading -->
    
    <div class="row">


        {%  for product in products %}

        <div class="col-md-4">
            <figure class="card card-product-grid">
                <div class="img-wrap"> 
                    
                 <a href="{% url 'productd' slug=product.slug %}"><img  src="{{product.image.url}}"></a>   
                    
                </div> <!-- img-wrap.// -->
                <figcaption class="info-wrap">
                    <div class="fix-height">
                        <a href="{% url 'productd' slug=product.slug %}" class="title">{{product.prod_name}}</a>
                        <div class="price-wrap mt-2">
                            <span class="price">₹{{product.price}}</span>
                            
                        </div> <!-- price-wrap.// -->
                    </div>

                    {% if product.id in cart_item_ids %}
            <a href="#" class="btn btn-block btn-success">Added to cart</a>
        {% else %}
            <form action="{% url 'add_to_cart' product.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button type="submit" class="btn btn-block btn-secondary">Add to cart</button>
            </form>
        {% endif %}
                    
                </figcaption>
            </figure>
        </div> 
        
        {% endfor %}
    
        
       
       

    
       
    
        
    
       
    
     
    
    
    
    
        </main> <!-- col.// -->
    
    </div>
    
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    

{% endblock %}